.explanation {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (min-width: 768px) {
    justify-content: center;
    align-items: center;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 50%;
    background-color: rgb(243, 243, 0);
    width: 850px;
    height: 1200px;
    border-radius: 50%;
    box-shadow: $box-shadow;

    z-index: -2;
    @media (min-width: 1024px) {
      left: 75%;
      @media (min-width: 1100px) {
        left: 70%;
        height: 800px;
      }
    }
  }
  .fetch {
    @include fetch;
    width: 60%;
    @media (min-width: 768px) {
      width: 70%;
      margin-left: -50px;
      @media (min-width: 1024px) {
        width: 40%;
        @media (min-width: 1100px) {
          order: 2;
          margin-left: 0;
          width: 25%;
        }
      }
    }
    .fetch-title {
      font-size: 1.8rem;
      @media (min-width: 1024px) {
        font-size: 2.3rem;
        @media (min-width: 1100px) {
          font-size: 1.8rem;
          font-weight: 600;
        }
      }
    }
    .fetch-desc {
      margin-top: 10px;
      font-size: 0.8rem;
      color: lighten($font-color-dark, 50%);
      @media (min-width: 1024px) {
        font-size: 1.2rem;
        @media (min-width: 1100px) {
          font-size: 0.7rem;
        }
      }
    }
    .fetch-subtitle {
      margin-top: 20px;
      font-size: 1rem;
      @media (min-width: 1100px) {
        font-weight: 500;
        font-size: 0.85rem;
      }
    }
    .fetch-inputs {
      width: 100%;
      margin-top: 20px;
      position: relative;
      @media (min-width: 1100px) {
        width: 60%;
      }
      .fetch-input {
        @include fetch-input;
      }
      .fetch-btn {
        @include fetch-btn;
      }
    }
  }
  .explanation-flex {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    @media (min-width: 768px) {
      width: 60%;
      @media (min-width: 1024px) {
        width: 40%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 20%;
      width: 50%;
      height: 200px;
      border-radius: 50%;
      border-top-right-radius: 70px;
      border-bottom-left-radius: 90px;
      border: 5px dotted $color-main;
      border-left: 3px;
      border-bottom: 0;
      z-index: -1;
      @media (min-width: 768px) {
        width: 60%;
        height: 250px;
        transform: rotate(30deg);
        @media (min-width: 1100px) {
          width: 70%;
          left: 5%;
        }
      }
    }
    .flex-item {
      @include flex-item;
      margin: 0 30px;
      &:nth-child(2) {
        align-self: flex-end;
      }
      @media (min-width: 1100px) {
        margin: 0 60px;
      }
      flex-img {
        width: 45px;
        height: 45px;
      }
      .flex-desc {
        margin-top: 10px;
        text-align: center;
        font-size: 0.8rem;
        color: darken($font-color-light, 50%);
      }
    }
  }
}
