.explanation {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 50%;
    background-color: rgb(243, 243, 0);
    width: 700px;
    height: 900px;
    border-radius: 50%;
    z-index: -2;
  }
  .fetch {
    @include fetch;
    width: 60%;
    .fetch-title {
      font-size: 1.8rem;
    }
    .fetch-desc {
      margin-top: 10px;
      font-size: 0.8rem;
      color: lighten($font-color-dark, 50%);
    }
    .fetch-subtitle {
      margin-top: 20px;
      font-size: 1rem;
    }
    .fetch-inputs {
      width: 100%;
      margin-top: 20px;
      position: relative;
      .fetch-input {
        @include fetch-input;
      }
      .fetch-btn {
        @include fetch-btn;
      }
    }
  }
  .explanation-flex {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 20%;
      width: 50%;
      height: 200px;
      border-radius: 50%;
      border-top-right-radius: 70px;
      border-bottom-left-radius: 90px;
      border: 5px dotted $color-main;
      border-left: 3px;
      border-bottom: 0;
      z-index: -1;
    }
    .flex-item {
      @include flex-item;
      margin: 0 30px;
      &:nth-child(2) {
        align-self: flex-end;
      }
      flex-img {
        width: 45px;
        height: 45px;
      }
      .flex-desc {
        margin-top: 10px;
        text-align: center;
        font-size: 0.8rem;
        color: darken($font-color-light, 50%);
      }
    }
  }
}
