.footer {
  width: 100%;
  margin-top: 80px;
  background-color: $color-main;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    transform: translateY(-50%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: $color-main;
  }
  .lists-wrapper {
    width: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width: 768px) {
      justify-content: center;
      @media (min-width: 1100px) {
        flex-direction: row;
      }
    }
    .footer-section {
      display: flex;
      width: 90%;
      flex-direction: column;
      padding: 20px;
      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 1100px) {
          align-items: flex-start;
          padding: 30px 50px;
        }
      }

      .footer-title {
        margin: 15px 0;
        font-weight: 600;
        color: $color-fetch;
        @media (min-width: 768px) {
          margin-bottom: 25px;
          font-size: 1.3rem;
          @media (min-width: 1100px) {
            font-weight: 300;
            font-size: 1rem;
          }
        }
      }
      .footer-desc {
        width: 65%;
        line-height: 1.5rem;
        font-size: 0.7rem;
        color: #fff;
        @media (min-width: 768px) {
          font-size: 0.9rem;
          @media (min-width: 1100px) {
            font-size: 0.8rem;
            font-weight: 300;
          }
        }
      }

      .footer-inputs {
        width: 80%;
        margin-top: 20px;
        position: relative;

        .footer-input {
          @include fetch-input;
        }
        .footer-btn {
          @include fetch-btn;
        }
      }
      .footer-input {
        @include fetch-input;
      }
      .footer-btn {
        position: absolute;
        right: 0;
        width: 50px;
        height: 50px;
        font-size: 2rem;
      }

      .footer-list-flex {
        width: 280px;
        display: flex;
        justify-content: space-between;
        // background-color: red;
      }

      .footer-list {
        .footer-li {
          line-height: 1.5rem;
          font-size: 0.7rem;
          color: #fff;
          @media (min-width: 768px) {
            font-size: 1.4rem;
            line-height: 35px;
            font-weight: 100;
            @media (min-width: 1100px) {
              font-size: 0.8rem;
              line-height: 1.6rem;
            }
          }
        }
      }
    }
    .footer-media-icons {
      margin-top: 20px;
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (min-width: 360px) {
        margin: 30px 28px 0;
      }
      & i {
        padding: 15px;
        border-radius: 50%;
        color: lighten($font-color-dark, 50%);
        box-shadow: $box-shadow;
        font-size: 1.5rem;
        background-color: #fff;
        transition: 0.3s all ease-in;
        &:hover {
          cursor: pointer;
          background-color: $color-main;
        }
      }
    }
  }
}
