.join {
  margin-top: 100px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .join-fetch {
    width: 70%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(45deg, rgb(100, 100, 197), rgb(98, 98, 248));
    border-radius: 20px;
    background-color: red;
    box-shadow: $box-shadow;
    .join-title {
      color: $color-fetch;
    }
    .join-img {
      margin: 20px 0;
    }
    .join-desc {
      margin-top: 20px;
      width: 85%;
      font-size: 0.7rem;
      font-weight: 300;
      color: $font-color-light;
    }
    .join-btn {
      margin: 30px 0;
      width: 130px;
      height: 40px;
      color: $color-main;
      font-weight: 600;
      background-color: rgb(251, 251, 251);
    }
  }
  .brands {
    width: 100%;
    .brands-title {
      margin: 30px 0;
      text-align: center;
      color: lighten($font-color-dark, 50%);
    }
    .brands-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .brand {
        padding: 20px;
        width: 45px;
        &:nth-child(2) {
          width: 100px;
        }
        &:nth-child(3) {
          width: 120px;
        }
        &:nth-child(4) {
          width: 50px;
        }
      }
    }
  }
}
