.join {
  margin-top: 100px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    display: none;
    @media (min-width: 768px) {
      display: block;
      content: "";
      position: absolute;
      top: -40%;
      left: -15%;
      background-color: rgb(243, 243, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      z-index: 2;
      box-shadow: $box-shadow;
    }
  }

  .join-fetch {
    width: 70%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(45deg, rgb(100, 100, 197), rgb(98, 98, 248));
    border-radius: 20px;
    background-color: red;
    box-shadow: $box-shadow;
    @media (min-width: 1100px) {
      flex-direction: row;
      padding: 20px;
    }
    .join-text-wrapper {
      @media (min-width: 768px) {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 1100px) {
          margin-left: 20px;
          align-items: flex-start;
        }
      }
      .join-title {
        color: $color-fetch;
      }
      .join-img {
        margin: 20px 0;
      }
      .join-desc {
        margin-top: 20px;
        width: 85%;
        font-size: 0.7rem;
        font-weight: 300;
        color: $font-color-light;
      }
      .join-btn {
        margin: 30px 0;
        width: 130px;
        height: 40px;
        color: $color-main;
        font-weight: 600;
        background-color: rgb(251, 251, 251);
      }
    }
  }
  .brands {
    width: 100%;
    .brands-title {
      margin: 30px 0;
      text-align: center;
      color: lighten($font-color-dark, 50%);
    }
    .brands-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @media (min-width: 1100px) {
        justify-content: space-evenly;
      }

      .brand {
        padding: 20px;
        width: 45px;
        &:nth-child(2) {
          width: 100px;
        }
        &:nth-child(3) {
          width: 120px;
        }
        &:nth-child(4) {
          width: 50px;
        }
      }
    }
  }
}
