@mixin blue-btn {
  height: 60px;
  width: 190px;
  color: $font-color-light;
  box-shadow: $box-shadow;
  background-color: $btn-color;
  font-family: inherit;
}

@mixin fetch {
  display: flex;
  flex-direction: column;
  color: $color-main;
  padding-left: 20px;
}

@mixin fetch-input {
  display: block;
  padding-left: 30px;
  width: 100%;
  height: 65px;
  border-radius: 70px;
  border: none;
  box-shadow: $box-shadow;
  font-family: inherit;
  position: relative;
  @media (min-width: 1100px) {
    height: 45px;
  }
  &::placeholder {
    color: lighten($font-color-dark, 50%);
  }
}
@mixin fetch-btn {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: $box-shadow;
  @media (min-width: 1100px) {
    width: 40px;
    height: 40px;
  }
  & i {
    font-size: 2rem;
    color: $font-color-light;
  }
}

@mixin flex-item {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: $box-shadow;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(251, 251, 251);
  @media (min-width: 414px) {
    width: 140px;
    height: 140px;
    @media (min-width: 768px) {
      width: 160px;
      height: 160px;
      margin: 20px;
      @media (min-width: 1024px) {
        width: 200px;
        height: 200px;
        margin: 40px;
        @media (min-width: 1100px) {
          width: 130px;
          height: 130px;
          margin: 10px;
          border-radius: 10px;
        }
      }
    }
  }
  & img:hover {
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
    cursor: pointer;
  }
}
@mixin review {
  width: 90%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(45deg, rgb(100, 100, 197), rgb(98, 98, 248));
  background-position: -200%;
  background-size: 100%;
  border-radius: 20px;
  box-shadow: $btn-color;
}
