.nav-mobile {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  .mobile-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobile-logo {
      width: 45px;
      height: 45px;
      margin: 10px 20px;
    }
    .hamburger-menu {
      width: 25px;
      height: 25px;
      margin: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: transparent;
      z-index: 100;
      .line {
        width: 100%;
        height: 1px;
        background-color: $font-color-light;
        transition: 0.3s ease-in-out;
      }
      &--change .line-1 {
        transform: rotateZ(-405deg) translate(-8px, 1px);
        background-color: #333;
      }
      &--change .line-2 {
        opacity: 0;
        background-color: #333;
      }
      &--change .line-3 {
        transform: rotateZ(405deg) translate(-8px, -1px);
        background-color: #333;
      }
    }
  }
  .mobile-list {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    transform: translateX(-100%);
    &.show {
      transform: translateX(0);
    }
  }
}
