* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  min-height: 120vh;
  background-color: #f3f6fb;
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  display: block;
  border: none;
  border-radius: 70px;
  background-color: transparent;
}
ul {
  list-style: none;
}

// SHOW EFFECT ANIMATION

.rev {
  position: relative;
  transform: translateY(10px);
  opacity: 0;
  transition: all 1s ease;
}

.rev.active {
  transform: translateY(0px);
  opacity: 1;
}
