.reviews {
  padding-top: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    padding-top: 0px;
    @media (min-width: 1024px) {
      margin-top: -300px;
      @media (min-width: 1100px) {
        margin-top: 330px;
        @media only screen and (min-width: 1368px) {
          margin-top: 360px;
        }
      }
    }
  }

  .review-title {
    padding: 0 10px;
    font-size: 1.5rem;
    text-align: center;
    color: $color-main;
    @media (min-width: 768px) {
      padding-top: 0px 15%;
      margin-top: -50px;
      width: 50%;
      @media (min-width: 1100px) {
        width: 40%;
      }
    }
  }
  .reviews-wrapper {
    width: 100%;
    margin-top: 30px;
    position: relative;
    .review-btn-right {
      display: none;

      @media (min-width: 1100px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: $color-main;
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        cursor: pointer;
      }
      & i {
        font-size: 1.2rem;
        color: $font-color-light;
      }
    }

    .review-btn {
      display: none;

      @media (min-width: 1100px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: $color-main;
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        cursor: pointer;
      }
      & i {
        font-size: 1.2rem;
        color: $font-color-light;
      }
    }
    .reviews-container {
      width: 100%;
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;

      .review {
        width: 80%;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(
          45deg,
          rgb(100, 100, 197),
          rgb(98, 98, 248)
        );
        border-radius: 20px;
        box-shadow: $btn-color;
        position: relative;
        @media (min-width: 768px) {
          width: 70%;
          @media (min-width: 1100px) {
            width: 40%;
            @media only screen and (min-width: 1368px) {
              width: 35%;
            }
          }
        }
        .review-img {
          width: 50px;
          border-radius: 50%;
        }
        .review-name {
          margin-top: 10px;
          font-weight: 300;
          color: darken($font-color-light, 5%);
          font-size: 1rem;
        }
        .review-desc {
          width: 80%;
          margin-top: 20px;
          font-size: 0.7rem;
          text-align: center;
          color: darken($font-color-light, 15%);
        }
      }
      .review-sub {
        position: absolute;
        top: 0;
        left: -75%;
        width: 80%;
        margin-top: 20px;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(
          45deg,
          rgb(197, 100, 100),
          rgb(248, 98, 98)
        );
        border-radius: 20px;
        box-shadow: $btn-color;
        z-index: -1;
        @media (min-width: 768px) {
          width: 80%;
          @media (min-width: 1100px) {
            width: 40%;
            left: 50px;
            transform: scale(0.8);
            @media only screen and (min-width: 1368px) {
              transform: scale(0.7);
            }
          }
        }
        &:nth-child(2) {
          left: 95%;
          @media (min-width: 768px) {
            left: 95%;
            @media (min-width: 1100px) {
              width: 40%;
              left: 680px;
              transform: scale(0.8);
              @media only screen and (min-width: 1368px) {
                transform: scale(0.7);
                left: 56%;
              }
            }
          }
        }
        .review-img {
          width: 50px;
          border-radius: 50%;
        }
        .review-name {
          margin-top: 10px;
          font-weight: 300;
          color: darken($font-color-light, 5%);
          font-size: 1rem;
        }
        .review-desc {
          width: 80%;
          margin-top: 20px;
          font-size: 0.7rem;
          text-align: center;
          color: darken($font-color-light, 15%);
        }
      }
    }
  }
}
