.services {
  width: 100%;
  min-height: 100vh;
  padding: 150px 0px 0;
  position: relative;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    @media (min-width: 1100px) {
      max-width: 100%;
      flex-direction: row;
      justify-content: center;
      // background-color: red;
    }
  }

  .fetch {
    @include fetch;
    width: 60%;
    @media (min-width: 768px) {
      margin-left: -180px;
      @media (min-width: 1100px) {
        width: 55%;
        padding-left: 180px;
        margin-top: -170px;
      }
    }

    .fetch-title {
      font-size: 1.8rem;
      @media (min-width: 1024px) {
        font-size: 2.5rem;
        @media (min-width: 1100px) {
          margin-top: 50px;
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
    .fetch-desc {
      margin-top: 10px;
      font-size: 0.8rem;
      color: lighten($font-color-dark, 50%);
      @media (min-width: 1024px) {
        font-size: 1.2rem;
        @media (min-width: 1100px) {
          font-size: 1rem;
          width: 40%;
        }
      }
    }
    .fetch-subtitle {
      margin-top: 20px;
      font-size: 1rem;
      @media (min-width: 1024px) {
        font-size: 1.5rem;
        @media (min-width: 1100px) {
          font-size: 1rem;
        }
      }
    }
    .fetch-inputs {
      width: 100%;
      margin-top: 20px;
      position: relative;
      @media (min-width: 1024px) {
        width: 60%;
        @media (min-width: 1100px) {
          width: 40%;
        }
      }
      .fetch-input {
        @include fetch-input;
      }
      .fetch-btn {
        @include fetch-btn;
      }
    }
  }
  .services-flex {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: 1100px) {
      width: 33%;
      padding-top: 0;
      margin-left: -200px;
    }
    .flex-item {
      @include flex-item;
      flex-img {
        width: 45px;
        height: 45px;
      }
      .flex-desc {
        margin-top: 10px;
        text-align: center;
        font-size: 0.8rem;
        color: darken($font-color-light, 50%);
      }
    }
  }
  .service-img {
    position: absolute;
    top: 25%;
    left: -260%;
    z-index: -1;
    @media (min-width: 360px) {
      left: -230%;
      @media (min-width: 414px) {
        left: -200%;
        @media (min-width: 768px) {
          left: -100%;
          top: -10%;
          transform: rotate(-5deg);
          height: 1400px;
          @media (min-width: 1024px) {
            height: 2000px;
            top: -35%;
            @media (min-width: 1100px) {
              height: 1800px;
              top: -65%;
              left: -70%;
              transform: rotate(-5deg);
            }
          }
        }
      }
    }
  }
}
